Source: httpbench
Section: net
Priority: optional
Maintainer: Paul Buetow <paul@buetow.org>
Build-Depends: debhelper (>= 8.0.0), libcurl3-gnutls-dev, perl
Standards-Version: 3.9.2
Homepage: http://httpbench.buetow.foo
Vcs-Git: git://git.buetow.org/httpbench
Vcs-Browser: http://web.buetow.org/git/?p=httpbench.git;a=summary

Package: httpbench
Architecture: any
Depends: ${shlibs:Depends}
Description: Very simple HTTP benchmarking program
 Benchmarks HTTP servers with some features missing in ab and siege.
