Package: httpbench
Version: 0.0.1ubuntu4
Architecture: i386
Maintainer: Paul Buetow <paul@buetow.org>
Installed-Size: 64
Depends: libc6 (>= 2.4), libcurl3-gnutls (>= 7.16.2-1)
Section: net
Priority: optional
Homepage: http://httpbench.buetow.org
Description: Simple HTTP bencharking program
 Benchmarks HTTP servers with some features missing in ab and siege.
