Package: httpbench
Version: 0.0.0-0master
Section: base
Priority: optional
Architecture: i386
Depends: libcurl3-gnutls (>= 7.21)
Maintainer: Paul Buetow <httpbench@mx.buetow.org>
Description: A simple HTTP benchmarker
 This is a simple HTTP benchmarking program.
