Package: httpbench
Version: 0.0.0
Section: unknown
Priority: optional
Architecture: i386
Depends: libcurl3-gnutls
Maintainer: Paul Buetow <httpbench@mx.buetow.org>
Homepage: http://httpbench.buetow.org
Description: A simple HTTP benchmarker
 This is a simple HTTP benchmarking program.
